{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="container d-flex flex-column justify-content-center">
    <div class="row mt-3">
        <div class="col">
            <h1 class="text-center" style="font-weight: bold">Topic Modeling - Results</h1>
        </div>
    </div>
    <div class="row" style="height: 100px">
        <!-- spacing -->
    </div>
    <div class="row" style="font-weight: bold">
        <div class="col">
            dates
        </div>
        <div class="col">
            num. articles published
        </div>
        <div class="col">
            [headline, teaser, body]
        </div>
        <div class="col">
            num articles used for modeling
        </div>
        <div class="col">
            sources
        </div>
    </div>  
    <div class="row mt-3">
        <div class="col">
            from {{ start_date }} to {{ end_date }}
        </div>
        <div class="col">
            {{ num_articles_published }}
        </div>
        <div class="col">
            {{ headline_teaser_body }}
        </div>
        <div class="col">
            {{ num_articles_used_in_modeling }}
        </div>
        <div class="col">
            {{ sources }}
        </div>
    </div>
    <div class="row" style="height: 100px">
        <!-- spacing -->
    </div>
    <div class="row">
        <div class="col">
            {{ top_topics_plot | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ topic_labels[0][1] }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{ topic_summaries[0][1] }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ num_docs_per_medium_plots[0] | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ topic_labels[1][1] }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{ topic_summaries[1][1] }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ num_docs_per_medium_plots[1] | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>{{ topic_labels[2][1] }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>{{ topic_summaries[2][1] }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ num_docs_per_medium_plots[2] | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ topics_table | safe }}
        </div>
    </div>

</div>

{% endblock %}